<!-- <div class="container">
  <h1 id="title" class="title text-center">Quên mật khẩu</h1>
  <form [formGroup]="forgot_password" (ngSubmit)="onSubmit()" aria-labelledby="title">
    <div class="form-control-group mb-3">
      <label class="label" for="email">Email:</label>
      <input name="email" formControlName="email" required id="email" pattern=".+@.+\..+"
        placeholder="Email address" class="form-control" status="success" autofocus>
    </div>
    <button type="submit" class="mb-3" status="success">Gửi</button>
  </form>
</div> -->

<h2>Trang này là reset password</h2>