<nb-card class="p-4">
  <div class="container">
    <h2 class="title">Thêm người dùng</h2>
    <form [formGroup]="formAddUser" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Tên đăng nhập</label>
        <input type="text" class="form-control" placeholder="Tên đăng nhập" formControlName="username" id="username">
        <span class="text-danger" *ngIf="formAddUser.get('username')!.invalid &&
                  (formAddUser.get('username')!.dirty || formAddUser.get('username')!.touched)">Vui lòng nhập tên đăng
          nhập!
        </span>
      </div>

      <div class="form-group">
        <label for="">Mật khẩu</label>
        <input class="form-control " type="password" placeholder="Mật khẩu" formControlName="password">
        <span class="text-danger" *ngIf="formAddUser.get('password')!.invalid &&
              (formAddUser.get('password')!.dirty || formAddUser.get('password')!.touched)">Vui lòng nhập mật khẩu!
        </span>
      </div>

      <div class="form-group">
        <label for="">Họ</label>
        <input class="form-control " type="text" placeholder="Họ" formControlName="first_name">
        <span class="text-danger" *ngIf="formAddUser.get('first_name')!.invalid &&
              (formAddUser.get('first_name')!.dirty || formAddUser.get('first_name')!.touched)">Vui lòng nhập họ!
        </span>
      </div>

      <div class="form-group">
        <label for="">Tên</label>
        <input class="form-control " type="text" placeholder="Tên" formControlName="last_name">
        <span class="text-danger" *ngIf="formAddUser.get('last_name')!.invalid &&
                  (formAddUser.get('last_name')!.dirty || formAddUser.get('last_name')!.touched)">Vui lòng nhập tên!
        </span>
      </div>

      <div class="form-group">
        <label for="">Email</label>
        <input class="form-control " type="text" placeholder="Email" formControlName="email">
        <span class="text-danger" *ngIf="formAddUser.get('email')!.invalid &&
              (formAddUser.get('email')!.dirty || formAddUser.get('email')!.touched)">Vui lòng nhập email!
        </span>
      </div>

      <div class="form-group">
        <label for="">Ngày thêm</label>
        <input class="form-control " type="date" placeholder="Date" formControlName="created_at">
        <span class="text-danger" *ngIf="formAddUser.get('created_at')!.invalid &&
              (formAddUser.get('created_at')!.dirty || formAddUser.get('created_at')!.touched)">Vui lòng nhập ngày thêm!
        </span>
      </div>

      <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
  </div>
</nb-card>